**/.config
**/.dockerignore
**/.editorconfig
**/.git
**/.idea
**/.github
**/.gitignore
**/.styleci.yml
**/*.md
**/composer-exec
**/composer.json
**/composer.lock
**/npm-exec
**/package-lock.json
**/package.json
**/docker
**/docs
**/php-exec
**/phpunit.xml
**/tests
**/webpack.mix.js
!**/Dockerfile
